 <p>book-aflight works!</p>
 <h1>Book A Flight</h1><br/><br/> 
<form>
One way <input type="radio" name="trip" value="one way" >
Round Trip<input type="radio" name="trip" value="round trip" ><br/><br/>

Departure Date <input type="date" name="deptdate" value="Departure Date">
Return Date<input type="date" name="rtndate" value="Return Date"><br/><br/>

Passenger(s)<input type="number" name="psngr" value="Passenger(s)">
<br/><br/>
<input type="submit" name="srchbtn" value="search Flights">

</form> 
