<p>login-or-sign-up works!</p>
<div style="border:1px dashed red">
  <div align="right"> 
       New User ? 
    <a href="" target="_blank">
          Sign Up
    </a>
   </div>

<b>Login</b><br/><br/>
<form>
    <input placeholder="Country code" type="number" name="cntrycde">
    <input placeholder="Mobile Number" type="number" name="mblnum">
    <br/><br/>
    password<input placeholder="password"><br/><br/>
    <input type="checkbox">remember me
    <br/><br/>
    <a href="" target="_blank" >Forgot Password</a><br/><br/>
  <input type="submit" name="login" value="login" >
  <hr/>
</form>
</div>
