<p>search-flights works!</p>
<div>
<b>
    <align="center">
             Flights Search 
    </align>
</b>
<br/><br/>
</div>
<h1>Trip:</h1>
<form>
       One way <input type="radio" name="trip" value="one way" >
        Round Trip<input type="radio" name="trip" value="round trip" >
<br/><br/>
Flying From<select>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Pune">Pune</option>
        <option value="Chennai">Chennai</option>
        <option value="Banglore">Banglore</option>
      </select>

Flying To<select>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Pune">Pune</option>
              <option value="Chennai">Chennai</option>
              <option value="Banglore">Banglore</option>
            </select>
<br/><br/>
 Departure Date: <input type="date" name="deptdate">
 Return Date: <input type="date" name="rtndate">
 <br/><br/>     
 Adult(s)<input type="number" name="adlt" value="Adult:">
 Children<input type="number" name="child" value="Child(2-17 yrs):">      
 <br/><br/>                    

 <input type="submit" name="login" value=" login">
</form>